<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="yip.cat" property="og:title">
    <meta content="hello :3" property="og:description">
    <meta content="https://yip.cat/" property="og:url">
    <meta content="{{ static(filename='images/fox.png') }}" property="og:image">
    <meta content="#E47335" data-react-helmet="true" name="theme-color">
    <title translate="no">yip yap</title>
    <link rel="icon" type="image/svg+xml" href="{{ static(filename='svgs/favicon.svg') }}">

    <link rel="stylesheet" href="{{ static(filename='fonts/fonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('index', filename='css/legacy.css') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ static(filename='svgs/favicon.svg') }}">
</head>
<body>
    <main>
        <h1>hello</h1>
        <h1>im taggie, a cross fox</h1>
        <div class="filler" style="margin-bottom: 1rem;"></div>
        <div id="links" translate="no">
            <a href="https://github.com/tailhaver" target="_blank" rel="noopener noreferrer"><img class="logo invert" src="static/index/svgs/github-mark-white.svg" alt="github"><p>tailhaver</p></a>
            <a href="https://twitter.com/@transfoxes" target="_blank" rel="noopener noreferrer"><img class="logo invert" src="static/index/svgs/twitter-blue.svg" alt="twitter"><p>@transfoxes</p></a>
        </div>
    </main>
</body>
</html>