.ui-resizable-nw, .ui-resizable-ne, .ui-resizable-se, .ui-resizable-sw {
    width: 6px;
    height: 6px;
}

.ui-resizable-n, .ui-resizable-s {
    height: 4px;
}
.ui-resizable-e, .ui-resizable-w {
    width: 4px;
}