@font-face {
    font-family: "clangen";
    src: url('/static/fonts/clangen.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed Sans';
    src: url('df8dd6af6fc380e949d31c51431c36ae.woff2') format('woff2'),
        url('df8dd6af6fc380e949d31c51431c36ae.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed Sans';
    src: url('43839ff35e4a96406bdd0deab32b1670.woff2') format('woff2'),
        url('43839ff35e4a96406bdd0deab32b1670.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed Sans';
    src: url('093c82c243935e70e0cb4e317e4efa5c.woff2') format('woff2'),
        url('093c82c243935e70e0cb4e317e4efa5c.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed Sans';
    src: url('11e666888c7c69aec6138afb308d00b7.woff2') format('woff2'),
        url('11e666888c7c69aec6138afb308d00b7.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LINE Seed Sans';
    src: url('6143314e877092a37bf9a42fd253719f.woff2') format('woff2'),
        url('6143314e877092a37bf9a42fd253719f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}