@font-face {
    font-family: 'Splatoon2';
    src: url('Splatoon2.woff2') format('woff2'),
        url('Splatoon2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

