:root {
  --size-eq: max(min(16px, 3.47cqw), 6px);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 480px;
  height: fit-content;
}

.title {
  user-select: none;
}

.titlebar button {
  filter: grayscale();
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  container: img-wrapper / inline-size;
}

@container img-wrapper (min-width: 1px) {
  .img-wrapper h1 {
    font-size: calc(var(--size-eq) * 3.5);
    margin: calc(var(--size-eq) / 2) 0 var(--size-eq) 0;
    color: #ff5656;
  }
  .img-wrapper p {
    font-size: var(--size-eq);
    margin: calc(var(--size-eq) * 1.5) 0 var(--size-eq) 0;
  }
  .img-wrapper img {
    max-width: 90cqw;
  }
}

a {
  transition: all 0.15s ease;
  text-decoration: dashed underline;
}

a:hover {
  text-decoration: underline;
  background-color: #00000060;
}