<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ static('index', filename='css/index2.css') }}">
</head>
<body>
<main>
    <div id="a"></div>
    <div id="b"></div>
    <div id="c"></div>
</main>
</body>
</html>